<ion-view title="Home" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/WLhlmuTyunmQjLTQjfQJ_Logo-UNAB-horizontal-alta-1024x408.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/nPVQSOkWTmOAUsG4N6Ku_appleandroid.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#272525;font-size:18px;">¡Bienvenidos!</p>

      <p style="color:#272525;font-size:18px;">Compañeros, Profesor,</p>

      <p style="color:#272525;font-size:18px;">Esto es
        <strong>Ionic Creator</strong>!</p>

      <p style="color:#272525;font-size:18px;">Espero que sea de su agrado.</p>

      <p style="color:#272525;font-size:18px;">**</p>
    </div>
  </ion-content>
</ion-view>